.logo {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.logo-section a {
    text-decoration: none;
    font-size: 29px;
    font-weight: bold;
    color: #d6cbab; 
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: var(--background);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);

}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links {
    margin-right: 80px;
}

.nav-links a:hover,
.nav-links a.active {
    color: #242322;  
    background-color: bisque;
    padding: 10px 20px;
    border-radius: 5px;
}

.nav-btn .btn-main {
    padding: 8px 40px;
    border-radius: 20px;
    font-weight:lighter;
    border: 2px solid var(--dark);
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    
}

.site-footer {
    background-color: #111;
    color: white;
    padding: 20px 50px;
    text-align: center;
    margin-top: 40px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}