html{
    scroll-behavior: smooth;
}

main {
    padding-top: 90px; 
    background-color: #e7e4dd;
    min-height: 100vh;
}


/* ---------- Hero Section ---------- */
.hero {
    background: url("../images/hero-background.jpg") center/cover no-repeat;
    background-position: top 25% right 0;
    height: 90vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    color: rgb(255, 255, 255);
    padding-left: 80px;
    box-shadow: 5px 5px 10px 2px white;
    position: relative;
    z-index: 2;
    box-shadow: 0 2px 100px rgba(252, 151, 19, 0.61);

}

.hero-content {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    
   
}

.hero h1 {
    font-size: 6rem;
    margin-bottom: 25px;
    opacity: 0;
    animation: fadeInDown 1s ease forwards;
   
}

/* Sub-container for paragraph + button + divider */
.hero-sub {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    
}

.hero-sub p {
    font-size: 2.2rem;
    margin: 0;
    opacity: 0;
    animation: fadeInDown 1s ease forwards;
    animation-delay: 0.3s;
}

/* Divider line */
.hero-sub .divider {
    width: 90px;
    height: 2px;
    background-color: #ffffff;
    opacity: 0;
    animation: fadeInDown 1s ease forwards;
    animation-delay: 0.6s;
}

/* Button styling */
.btn-main {
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 5px;
    background-color: #f5c518;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: background 0.3s;
    opacity: 0;
    animation: fadeInDown 1s ease forwards;
    animation-delay: 0.9s;
}

.btn-main:hover {
    background-color: #ca770a;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px); /* start slightly above */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* normal position */
  }
}


/* ---------- Featured Cars ---------- */
.featured {
    padding: 60px 50px;
    text-align: center;
    background: url("../images/featured/featured-background.jpg") center/cover no-repeat;  /* i set a car bg image here */
    box-shadow: inset 0px 2px 8px rgba(0,0,0,0.8);
    position: relative;
}

.featured::before { /* i did this for the dark overlay effect */
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: 0;
}


.featured h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    color:#e6dccd;
    position: relative;
    z-index: 1;
}

.featured-cars {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

.glass {  /* this section here is for the glassmorphism effect on the car cards container */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;}

.car-card {
    margin: 20px;
    background: linear-gradient(to right, #ffffff, #242322);;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
    overflow: hidden;
    width: 280px;
    transition: transform 0.3s;
    cursor:pointer;
}

.car-card:hover {
    transform: scale(1.07);
}

.car-card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.car-card h3 {
    padding: 15px;
    font-size: 1.1rem;

}

.autoShowText {
    opacity: 0;
    transform: translateY(50px);
    animation: text-appear 1s ease-out both;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;
}

@keyframes text-appear {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.imageReveal {
    opacity: 0;
    transform: translateY(30px) scale(0.98);
    filter: grayscale(1) blur(3px);
    animation: image-appear 0.7s ease-out both; 
    animation-timeline: view(); 
    animation-range: entry 0% cover 40%;    
}

@keyframes image-appear {
    from {
        opacity: 0;
        transform: translateY(30px) scale(0.98);
        filter: grayscale(1) blur(3px);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: none;
    }
}

/* ---------- Showcase Section ---------- */


.showcase {  /* this is the entire container of the showcase section */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    background-color: #0e0d0d;
    flex-wrap: wrap;
    color: #e6dccd;
    box-shadow: 0 -8px 50px rgba(252, 151, 19, 0.61);
    position: relative;
    z-index: 2;

}

.showcase-content {  /* the top part */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
    padding: 60px 50px;
    background-color: rgba(65, 65, 65, 0.3);
    border-radius: 20px;
}

.showcase-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 300px;
}

.showcase-content h1 {
    font-size: 3rem;
    max-width: 300px;
    margin-right: 20px;    
}

.showcase-content .showcase-img img{
    width: 350px;
    height: auto;
}

.showcase-content2 {   /* the middle part */
    flex: 1;
    font-size: 1.2rem;
    min-width: 280px;
    text-align: center;
    background-color: #0c0b0c;}


.showcase-content3{  /* the bottom part */
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(65, 65, 65, 0.3);
    border-radius: 20px;
    width: 90%;
}    


.showcase-content3 .showcase-img3 img {  /* the left image in the bottom part */
    width: 850px;
    height: auto;
    margin: 40px;
    border-radius: 10px;
    opacity: 0;
    transform: translateX(-80px);
    filter: blur(4px);
    animation: slideInLeftSection 1s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.showcase-content3 .showcase-butt-img4 {  /* the right part in the bottom part */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:10px;
    opacity: 0;
    transform: translateX(80px);
    filter: blur(4px);
    animation: slideInRightSection 1s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes slideInLeftSection {
    to {
        opacity: 1;
        transform: translateX(0);
        filter: none;
    }
}

@keyframes slideInRightSection {
    to {
        opacity: 1;
        transform: translateX(0);
        filter: none;
    }
}


.showcase-content3 .showcase-butt-img4 img { /* the car image in the right part of the bottom part */
    width: 600px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.showcase-content3 .showcase-butt-img4 .tnb { 
    margin: 40px 0 0 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.showcase-content3 .showcase-butt-img4 .tnb p {
    font-size: 1.2rem;
    color: #e6dccd;
}


.showcase .border {
    margin-top:20px;
    margin-bottom:10px;
    width: 75%;
    height: 2px;
    background-color: #e6dccd;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
    animation: border-appear 0.8s ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

@keyframes border-appear {
    from {
        opacity: 0;
        transform: scaleX(0);
    }
    to {
        opacity: 1;
        transform: scaleX(1);
    }
}


.showcase .showcase-content3 .vertical-border {
    width: 2px;
    height: 650px;
    background-color: #e6dccd;
    margin: 0 40px;
}


/* ---------- SlideShow Section ---------- */

.slideshow {
    padding: 10px 50px;
    text-align: center;
    background: url("../images/featured/slideshow-bg.jpg") center/cover no-repeat;
    width:100%;
}

.slideshow h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #e6dccd;
    
}

.slideshow .glass-container {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: auto;
}


.slider {
    position: relative;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3);

}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    flex-shrink: 0;
}

.slider button {
    position: absolute;
    top: 50%;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
}

.slider .prev { left: 10px; }
.slider .next { right: 10px; }

.slider button:hover {
    background: rgba(0,0,0,0.8);
}



/* ---------- About Section ---------- */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 60px 50px;
    flex-wrap: wrap;
    background: linear-gradient(to right, #444343, #242322);
    color: #e6dccd;
}

.about-text {
    flex: 1;
    min-width: 280px;
}

.about-text h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: White;

}

.about-text p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.about-img img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
}



/*---------- Testimonial Section ---------- */
.testimonials {
  padding: 60px 50px;
  background: url("../images/testimonials.jpg") center/cover no-repeat;
  text-align: center;
  color: #fff;
  position: relative;
}

.testimonial-slider {
    overflow:hidden;
}

.testimonials h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #e6dccd;
}

.testimonials h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #f5c518;
}


.testimonial-track {
  display: flex;
  gap: 20px;
  animation: scrollTestimonials 20s linear infinite;
}

.testimonial-track:hover {
  animation-play-state: paused; 
}

.testimonial-card {
  flex: 0 0 300px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  transition: transform 0.3s;
}

.testimonial-card:hover {
  transform: scale(1.08);
}

.testimonial-card p {
  font-size: 1.1rem;
  font-style: italic;
  margin-bottom: 10px;
}

.testimonial-card h4 {
  font-size: 1rem;
  color: #f5c518;
  font-weight: bold;
}


@keyframes scrollTestimonials {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); 
  }
}

/* ---------- Brands Section ---------- */
.brands {
    background: #111;
    padding: 60px 20px;
    text-align: center;
    position: relative;
}

.brands-title {
    font-size: 3rem;
    color: #e6dccd;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
}

.brands-title .line {
  display:block;
  width:60%;
  height:3px;
  margin:12px auto 0;
  border-radius:2px;
  background:linear-gradient(90deg, #fc9713, #e6dccd);
  opacity:0;
  transform:scaleX(0);
  transform-origin:left;
  animation: expandLine 1s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes expandLine {
    from {
        opacity: 0;
        transform: scaleX(0);
    }
    to {
        opacity: 1;
        transform: scaleX(1);
    }
}

.brands-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.brands-logos img {
    width: 150px;
    height: auto;
    filter: grayscale(100%);
    opacity: 0;
    transform: translateY(30px);
    transition: filter 0.3s ease-in-out;

   
    animation: logoReveal 0.8s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


.brands-logos img:nth-child(1) { animation-delay: 0.1s; }
.brands-logos img:nth-child(2) { animation-delay: 0.3s; }
.brands-logos img:nth-child(3) { animation-delay: 0.5s; }
.brands-logos img:nth-child(4) { animation-delay: 0.7s; }
.brands-logos img:nth-child(5) { animation-delay: 0.9s; }

@keyframes logoReveal {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.brands-logos img:hover {
    filter: grayscale(0%);
    transform: scale(1.08);
}




/* ---------- Newsletter Section ---------- */
.newsletter {
  background: linear-gradient(to right, #444343, #242322);
  color: #e6dccd;
  padding: 80px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;

 
  view-timeline-name: --newsletter;
  view-timeline-axis: block;
}

.newsletter-content {
  flex: 1;
  max-width: 500px;
}

.newsletter-content h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.newsletter-content p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  color: #bbb;
}

.newsletter-form {
  display: flex;
  gap: 10px;
}

.newsletter-form input {
  flex: 1;
  padding: 14px 18px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
}


.newsletter-image {
  flex: 1;
  text-align: right;
}

.newsletter-image img {
  width: 700px;
  height:auto;
  opacity: 0;
  transform: translateX(100px);

  animation: slideInRight 1s ease-out forwards;
  animation-timeline: --newsletter;
  animation-range: entry 0% cover 40%;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}



/* ---------- Call To Action ---------- */
.cta {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 60px 30px;
}

.cta h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.cta p {
    font-size: 1.1rem;
    margin-bottom: 25px;
}